
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>
</head>
<body>
    {{!-- {{>navbar}} --}}
    <h1>Welcom to my Authentication website : </h1>
    <button> <a href="Register">Click here for Registration</a> </button>
    <button> <a href="login">Login : </a> </button>
</body>
</html>